// Place all the styles related to the Support controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.errors {
  background-color: red;
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
  padding: 10px, 20px;
}
